<div class="row">
    <div ng-controller="NewsController" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <article ng-repeat="newsItem in latestNews" class="news-preview">
            <a ng-href="/home/news/{{newsItem.id}}" >
                <h2>{{newsItem.title}}</h2>
            </a>
            <h3>{{newsItem.subtitle}}</h3>
            <p class="date">Posted {{newsItem.publishedAgo}} days ago by {{newsItem.author}}</p>
        </article>
    </div>
</div>
    



@section Scripts
{
    <script>
        var app = angular.module("newsApp", []);

        app.controller("NewsController",
            function($scope, $http) {
                $http.get("../api/article")
                    .success(function(data, status, headers, config) {
                        $scope.latestNews = data;
                        
                    })
                    .error(function(data, status, headers, config) {
                        
                    });
            }
        );


    </script>

}

 